@model eShop.Entities.Entities.Category


<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="categoryCard">
        <div class="card m-0 my-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center">
                    <a asp-controller="Event" asp-action="Index" asp-route-category="@Model.CategoryName">
                        @Model.CategoryName
                    </a>
                </h4>
            </div>
            <div class="img-fluid">
                <a asp-controller="Event" asp-action="Index" asp-route-category="@Model.CategoryName">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSGwZOMqbstzhzyFc090olrusblDgJttOqDheRRHktC3JUTOP57&usqp=CAU" alt="@Model.CategoryName">
                </a>
            </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.CategoryName</h4>
                    <p class="card-subtitle mb-2 text-muted">@Model.Description.</p>
                    <a asp-controller="Event"
                       asp-action="Index"
                       asp-route-category="@Model.CategoryName"
                       role="button" class="btn btn-block btn-danger text-nowrap">
                        See the events
                    </a>
                </div>
                <div class="d-inline-block">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@Model.CategoryId">Delete</a>
                </div>
            </div>
        </div>
</div>