@model eShop.Presentation.ViewModels.EventCreateEditViewModel

@{
    List<string> DaysOfWeek = new List<string>();
}
<div>
    <div class="row-4 mb-3">
        <div class="btn-group" role="group" aria-label="Schedule tab">
            @{for (int i = 0; i < @Model.Days.Select(d => d.DayOfWeek).ToList().Count(); i++)
                {
                    DaysOfWeek.Add(@Model.Days.Select(d => d.DayOfWeek).ToList()[i].ToString());
                    <a class="btn btn-primary" data-toggle="collapse" href="#tab-@i" role="button" aria-expanded="false" aria-controls="tab-@i">
                        @Model.Days.Select(d => d.DayOfWeek).ToList()[i] <span class="badge badge-light"> @Model.EventTimes[i].Count()</span> <span class="sr-only">unread messages</span>
                    </a>
                }
            }
        </div>
    </div>

    <div class="row-8">
        <div class="row">
            <div class="col">
                @{for (int i = 0; i < @Model.EventTimes.Count(); i++)
                    {
                        <div class="collapse multi-collapse" id="tab-@i">
                            <div class="card card-body mb-3">

                                <h5 class="card-title"> @DaysOfWeek[i] Schedule:</h5>

                                <div class="form-row">
                                    <label asp-for="@Model.Days[i].DayOfWeek" class="control-label"></label>
                                    <select asp-for="@Model.Days[i].DayOfWeek" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(DayOfWeek))))"><option>Choose days</option></select>
                                    <span asp-validation-for="@Model.Days[i].DayOfWeek" class="text-danger"></span>
                                    <div class="invalid-tooltip">
                                        Please provide a ticket name.
                                    </div>
                                </div>


                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="table m-0">
                                                    <tr>
                                                        <td scope="row">
                                                            @{foreach (var dayTimeStart in @Model.EventTimes[i])
                                                                {
                                                                    <table class="table table-borderless table-hover m-0">
                                                                        <tr>
                                                                            <td scope="row">
                                                                                @dayTimeStart.Key
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td>
                                                <table class="table m-0">
                                                    <tr>
                                                        <td scope="row">
                                                            @{foreach (var dayTimeEnd in @Model.EventTimes[i])
                                                                {
                                                                    <table class="table table-borderless table-hover m-0">
                                                                        <tr>
                                                                            <td scope="row">
                                                                                @dayTimeEnd.Value
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="alert alert-danger" role="alert">
            <strong>P.S.</strong> Click on each day to see the times!
        </div>
    </div>
</div>