@model eShop.Presentation.ViewModels.EventViewModel

@for (int i = 0; i < Model.Days.Count(); i++)
{
    <div id="accordion">
        <div class="card mt-3">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse_Schedule_@i" aria-expanded="true" aria-controls="collapse_Schedule_@i">
                        @Model.Days[i].Date.ToString("MMMM dd")
                    </a>
                </h5>
            </div>
            <div id="collapse_Schedule_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                    <div class="form-row">
                        <label asp-for="@Model.Days[i].Date" class="control-label"></label>
                        <input class="form-control" asp-for="@Model.Days[i].Date" type="date">                        
                        @*<span asp-validation-for="@Model.Days[i].Date" class="text-danger"></span>*@
                        <div class="invalid-tooltip">
                            Please provide a date
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="tab-content" id="nav-tabContent">
                            @for (int j = 0; j < @Model.Times[i].Count(); j++)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table class="table table-borderless m-0">
                                                    <tr>
                                                        <td scope="row">
                                                            <table class="table table-borderless table-hover m-0">
                                                                <tr>
                                                                    <td scope="row">
                                                                        @{
                                                                            List<string> SelectedStartTimesBinded = new List<string>();

                                                                            foreach (var timeStart in @Model.Times[j])
                                                                            {
                                                                                SelectedStartTimesBinded.Add(timeStart.Key);
                                                                            }

                                                                            for (int index = 0; index < SelectedStartTimesBinded.Count(); index++)
                                                                            {
                                                                                <div class="form-row">
                                                                                    <div class="col-md-6 pt-3">
                                                                                        <input asp-for="@SelectedStartTimesBinded[index]" type="time" class="form-control" />
                                                                                        @*<span asp-validation-for="@SelectedStartTimesBinded[index]" class="text-danger"></span>*@
                                                                                        <div class="invalid-tooltip">
                                                                                            Please provide a ticket name.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td>
                                                <table class="table table-borderless m-0">
                                                    <tr>
                                                        <td scope="row">
                                                            <table class="table table-borderless table-hover m-0">
                                                                <tr>
                                                                    <td scope="row">
                                                                        @{
                                                                            List<string> SelectedEndTimesBinded = new List<string>();

                                                                            foreach (var timeEnd in @Model.Times[j])
                                                                            {
                                                                                SelectedEndTimesBinded.Add(timeEnd.Value);
                                                                            }

                                                                            for (int index = 0; index < SelectedEndTimesBinded.Count(); index++)
                                                                            {
                                                                                <div class="form-row">
                                                                                    <div class="col-md-6 pt-3">
                                                                                        <input asp-for="@SelectedEndTimesBinded[index]" type="time" class="form-control" />
                                                                                        @*<span asp-validation-for="@SelectedEndTimesBinded[index]" class="text-danger"></span>*@
                                                                                        <div class="invalid-tooltip">
                                                                                            Please provide a ticket name.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
