@model eShop.Presentation.ViewModels.EventCreateEditViewModel


<div class="card-group">
    @{
        for (int i = 0; i < @Model.Tickets.ToList().Count(); i++)
        {
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="event-card">
                    <div class="card w-auto m-0 my-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">  @Model.Tickets.ToList()[i].TicketName</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> @Model.Tickets.ToList()[i].TicketPrice @Model.Event.Currency </h6>
                            <div class="buy d-flex justify-content-between align-items-center">
                                @Model.Tickets.ToList()[i].Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


@*<div class="my-3">

        <div id="accordion">
            <div class="card mb-1">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapse_0" aria-expanded="true" aria-controls="collapse_0">
                            @Model.Tickets.ToList()[0].TicketName | @Model.Tickets.ToList()[0].TicketPrice @Model.Event.Currency
                        </a>
                    </h5>
                </div>
                <div id="collapse_0" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        @Model.Tickets.ToList()[0].Description
                    </div>
                </div>
            </div>
        </div>

        @{
            for (int i = 1; i < @Model.Tickets.ToList().Count(); i++)
            {
                <div id="accordion">
                    <div class="card mb-1">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                                    @Model.Tickets.ToList()[i].TicketName | @Model.Tickets.ToList()[0].TicketPrice @Model.Event.Currency
                                </a>
                            </h5>
                        </div>
                        <div id="collapse_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @Model.Tickets.ToList()[i].Description
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div class="alert alert-danger mt-3" role="alert">
            <strong>P.S.</strong> For information, click on each ticket!
        </div>
    </div>*@


@*<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <form asp-controller="Event"
                          asp-action="AddToShoppingCart"
                          asp-route-eventId="@Model.Event.EventId" method="post" role="form">

                        <div class="text-center">
                            <div>
                                <input class="form-control text-center" type="number" asp-for="@Model.Amount">
                                <input type="submit" class="mt-2 btn btn-danger text-nowrap btn-block" value="Add / remove items" />
                            </div>
                        </div>
                    </form>
                </td>
                <td class="text-center">@Model.Event.Price @Model.Event.Currency</td>

                @if (@Model.ShoppingCartItemTotalSEK != 0)
                {
                    <td class="text-center">
                        @String.Format("{0:0.00}", @Model.ShoppingCartItemTotalSEK)
                    </td>
                }
                @if (@Model.ShoppingCartItemTotalEUR != 0)
                {
                    <td class="text-center">
                        @String.Format("{0:0.00}", Model.ShoppingCartItemTotalEUR)
                    </td>
                }
                @if (@Model.ShoppingCartItemTotalEUR == 0 && @Model.ShoppingCartItemTotalSEK == 0)
                {
                    <td class="text-center">
                        @String.Format("{0:0.00}", @Model.Event.Price)
                    </td>
                }
            </tr>
        </tbody>
    </table>*@
