@model eShop.Web.ViewModels.ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are the events in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Event</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            @foreach (var line in Model.ShoppingCartService.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">

                        <form asp-controller="ShoppingCart"
                              asp-action="AddToShoppingCart"
                              asp-route-eventId="@line.Event.EventId"
                               method="post" role="form">
                            <div class="d-flex align-items-center justify-content-around">
                                <div>
                                    @*@{
            var oldAmount = @Model.Amounts[i];
            oldAmount = @Model.Amount;
            @Model.Amounts[i];
        }*@
                                    <input class="form-control text-center" type="number" asp-for="@Model.Amount" value="@line.Amount">
                                    <input type="submit" class="mt-2 btn btn-danger text-nowrap btn-block" value="Edit the amount" />
                                </div>
                                @*<div class="text-success text-center">
                                    @Model.Amounts[i]
                                </div>*@
                            </div>
                        </form>
                    </td>
                    <td class="text-left">
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@line.Event.EventId" class="text-decoration-none">@line.Event.Name</a>


                    </td>
                    <td class="text-right">@line.Event.Price @line.Event.Currency</td>
                    <td class="text-right">
                        @(line.Amount * line.Event.Price) @(line.Event.Currency)
                    </td>
                </tr>
            }
            i++;
        }
    </tbody>
    <tfoot>
        @if (@Model.ShoppingCartTotalSEK != 0)
        {
            <tr>
                <td colspan="3" class="text-right font-weight-bold">Total SEK:</td>
                <td class="text-right">
                    @String.Format("{0:0.00}", @Model.ShoppingCartTotalSEK)
                </td>
            </tr>
        }
        @if (@Model.ShoppingCartTotalEUR != 0)
        {
            <tr>
                <td colspan="3" class="text-right font-weight-bold">Total EUR:</td>
                <td class="text-right">
                    @String.Format("{0:0.00}", Model.ShoppingCartTotalEUR)
                </td>
            </tr>
        }
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-danger text-nowrap" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Go to Homepage</a>
</div>