@model eShop.Presentation.ViewModels.EventViewModel
@*DetailsViewModel*@

@{
    ViewData["Title"] = "Details";
}

<!-- Page Content -->
<div class="row">
    <!-- the side scroll spy menu -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="sticky">
            <h1 class="mt-4">@Model.Event.Name</h1>
            <div id="side-menu-list" class="list-group">
                <a href="#about-the-event" class="list-group-item list-group-item-action active">About the event</a>
                <a href="#schedule" class="list-group-item list-group-item-action">Schedule</a>
                <a href="#location" class="list-group-item list-group-item-action">Location</a>
                <a href="#teachers" class="list-group-item list-group-item-action">Teachers</a>
                <a href="#tickets" class="list-group-item list-group-item-action">Tickets</a>
                <a href="#faq" class="list-group-item list-group-item-action">FAQ</a>

                <!-- Button Shopping Cart Modal -->
                <button type="button" class="btn btn-lg btn-danger my-3 text-white" data-toggle="modal" data-target="#shoppingCartModalCenter">
                    <i class="fas fa-shopping-cart"></i> Add To Cart
                </button>

            </div>
        </div>
    </div>

    <!-- the contents of the side scroll spy menu -->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
        <div data-spy="scroll" data-target="#side-menu-list" data-offset="0" class="scrollspy-example">

            <!-- the "about the event" Card >> content of the side scroll spy menu -->
            <div class="card w-100 m-0 my-4 shadow-sm">
                <div class="thumbnail">
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Event.EventId">
                        <img class="card-img-top" src="@Model.Event.ImageUrl" alt="@Model.Event.Name">
                    </a>
                </div>

                <div class="card-body" id="about-the-event">
                    <h5 class="card-title"> <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Event.EventId" class="text-decoration-none">@Model.Event.Name</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.Event.ShortDescription.</h6>
                    <p class="card-text text-muted">@Model.Event.LongDescription</p>
                    <div class=" d-flex justify-content-between align-items-center">
                        <div class="price text-success">
                            <h5 class="mt-4 text-nowrap">
                                @Model.Tickets.ToList()[0].TicketPrice <small class="text-muted"> @Model.Event.Currency</small>
                            </h5>
                        </div>
                        <partial name="_ShoppingCartModal">
                    </div>
                </div>
            </div>

            <!-- the "Schedule" Card >> the content of the side scroll spy menu -->
            <div class="card card-outline-secondary my-4" id="schedule">
                <div class="card-header">
                    Schedule
                </div>
                <div class="card-body">
                    <partial name="_EventSchedule" />
                </div>
            </div>

            <!-- the "Location" Card >> content of the side scroll spy menu -->
            <div class="card card-outline-secondary my-4" id="location">
                <div class="card-header">
                    Location
                </div>
                <div class="card-body">
                    <partial name="_EventLocations" />
                </div>
            </div>

            <!-- the "Teachers" Card >> content of the side scroll spy menu -->
            <div class="card card-outline-secondary my-4" id="teachers">
                <div class="card-header">
                    Teachers
                </div>
                <div class="card-body">
                    <partial name="_EventTeachers" />
                </div>
            </div>

            <!-- the "Tickets" Card >> content of the side scroll spy menu -->
            <div class="card card-outline-secondary my-4" id="tickets">
                <div class="card-header">
                    Tickets
                </div>
                <div class="card-body">
                    <partial name="_EventTickets" />
                </div>
            </div>

            <!-- the "How to go" Card >> content of the side scroll spy menu -->
            <div class="card card-outline-secondary my-4" id="faq">
                <div class="card-header">
                    FAQ
                </div>
                <div class="card-body">
                    <partial name="_EventFAQs" />
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <a asp-action="Index"> Back to List</a>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event.EventId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Event.EventId })
</div>
