@model eShop.Presentation.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<!-- Page Content -->
<div class="row">
    <!-- the side scroll spy menu -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="sticky">
            <h1 class="mt-4">@Model.Event.Name</h1>
            <div id="side-menu-list" class="list-group">
                <a href="#basic-info" class="list-group-item list-group-item-action active">Basic information</a>
                <a href="#about-the-event" class="list-group-item list-group-item-action">About the event</a>
                <a href="#schedule" class="list-group-item list-group-item-action">Schedule</a>
                <a href="#location" class="list-group-item list-group-item-action">Location</a>
                <a href="#teachers" class="list-group-item list-group-item-action">Teachers</a>
                <a href="#tickets" class="list-group-item list-group-item-action">Tickets</a>
                <a href="#faq" class="list-group-item list-group-item-action">FAQ</a>
                <a href="#settings" class="list-group-item list-group-item-action">Settings</a>
            </div>
        </div>
    </div>

    <!-- the contents of the side scroll spy menu -->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">

        <form asp-controller="Event" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.EventId" />

            <div data-spy="scroll" data-target="side-menu-list" data-offset="0" class="scrollspy">

                <!-- the "Basic info" Card >> content of the side scroll spy menu -->
                <div class="card card-outline-secondary my-4" id="basic-info">

                    <div id="accordion">
                        <div class="card-header" id="headingBasicInfo">
                            <h5 class="mb-0">
                                <a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseBasicInfo" aria-expanded="true" aria-controls="collapseBasicInfo">
                                    Basic info
                                </a>
                            </h5>
                        </div>
                        <div id="collapseBasicInfo" class="collapse show" aria-labelledby="headingBasicInfo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Event.Name" class="control-label"></label>
                                    <input asp-for="Event.Name" class="form-control" />
                                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Event.CategoryId" class="control-label"></label>
                                    <select asp-for="Event.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))"></select>
                                    <span asp-validation-for="Event.CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- the "About the event" Card >> content of the side scroll spy menu -->
                <div class="card card-outline-secondary my-4" id="about-the-event">
                    <div class="card-header" id="headingAboutTheEvent">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseAboutTheEvent" aria-expanded="true" aria-controls="collapseAboutTheEvent">
                                About the event
                            </a>
                        </h5>
                    </div>
                    <div id="collapseAboutTheEvent" class="collapse show" aria-labelledby="headingAboutTheEvent" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Event.ImageUrl" class="control-label"></label>
                                <input asp-for="Event.ImageUrl" class="form-control" />
                                <span asp-validation-for="Event.ImageUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Event.ShortDescription" class="control-label"></label>
                                <input asp-for="Event.ShortDescription" class="form-control" />
                                <span asp-validation-for="Event.ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Event.LongDescription" class="control-label"></label>
                                <textarea asp-for="Event.LongDescription" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Event.LongDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- the "Schedule" Card >> the content of the side scroll spy menu-->
                <div class="card card-outline-secondary my-4" id="schedule">
                    <div class="card-header" id="headingSchedule">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseSchedule" aria-expanded="true" aria-controls="collapseSchedule">
                                Schedule
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSchedule" class="collapse show" aria-labelledby="headingSchedule" data-parent="#accordion">
                        <div class="card-body">
                            <partial name="_EditSchedule" />

                            <p class="mt-3 d-flex flex-row-reverse">
                                <a class="btn btn-danger m-1 text-nowrap w-25" data-toggle="collapse" href="#collapseAddToSchedule" role="button" aria-expanded="false" aria-controls="collapseAddToSchedule">
                                    Add to schedule
                                </a>
                                <a asp-controller="Event"
                                   asp-action="DeleteSchedule"
                                   asp-route-id="@Model.Event.EventId"
                                   class="btn btn-danger m-1 text-nowrap w-25">
                                    Clear schedule
                                </a>
                            </p>

                            <div class="collapse" id="collapseAddToSchedule">
                                <div class="card card-body">
                                    @*<partial name="_CreateSchedule">
                                        <form asp-controller="Event" asp-action="CreateStepTwo" asp-route-id="@Model.Event.EventId" class="needs-validation" novalidate>
                                            <partial name="_CreateSchedule">
                                                <div class="mt-3 pt-3">
                                                    <button type="submit" class="btn btn-danger w-25">Add to Schedule <i class="fa fa-plus text-white"></i></button>
                                                </div>
                                        </form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- the "Location" Card >> content of the side scroll spy menu -->
                <div class="card card-outline-secondary my-4" id="location">
                    <div class="card-header" id="headingLocation">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseLocation" aria-expanded="true" aria-controls="collapseLocation">
                                Location
                            </a>
                        </h5>
                    </div>
                    <div id="collapseLocation" class="collapse show" aria-labelledby="headingLocation" data-parent="#accordion">
                        <div class="card-body">
                            <partial name="_EditLocation" model="@Model.Locations" />
                        </div>
                    </div>
                </div>

                <!-- the "Teachers" Card >> content of the side scroll spy menu -->
                <div class="card card-outline-secondary my-4" id="teachers">
                    <div class="card-header" id="headingTeachers">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseTeachers" aria-expanded="true" aria-controls="collapseTeachers">
                                Teachers
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTeachers" class="collapse show" aria-labelledby="headingTeachers" data-parent="#accordion">
                        <div class="card-body">
                            <partial name="_EditTeacher" model="@Model.Teachers" />
                        </div>
                    </div>
                </div>

                <!-- the "Tickets" Card >> content of the side scroll spy menu -->
                <div class="card card-outline-secondary my-4" id="tickets">
                    <div class="card-header" id="headingTickets">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseTickets" aria-expanded="true" aria-controls="collapseTickets">
                                Tickets
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTickets" class="collapse show" aria-labelledby="headingTickets">
                        <div class="card-body">
                            <partial name="_EditTicket" model="@Model.Tickets" />
                        </div>
                    </div>
                </div>

                <!-- the "FAQ" Card >> the content of the side scroll spy menu-->
                <div class="card card-outline-secondary my-4" id="faq">
                    <div class="card-header" id="headingFaq">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseFaq" aria-expanded="true" aria-controls="collapseFaq">
                                FAQ
                            </a>
                        </h5>
                    </div>

                    <div id="collapseFaq" class="collapse show" aria-labelledby="headingFaq" data-parent="#accordion">
                        <div class="card-body">

                            <partial name="_EditFAQ" model="@Model.FAQs" />
       
                        </div>
                    </div>
                </div>

                <!-- the "Settings" Card >> the content of the side scroll spy menu-->
                <div class="card card-outline-secondary my-4" id="settings">
                    <div class="card-header" id="headingSettings">
                        <h5 class="mb-0">
                            <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                                Settings
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSettings" class="collapse show" aria-labelledby="headingSettings" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Event.Currency" class="control-label"></label>
                                <select asp-for="Event.Currency" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(Currency)), "Select a currency"))"></select>
                                <span asp-validation-for="Event.Currency" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Event.IsHighlightedEvent" /> @Html.DisplayNameFor(model => model.Event.IsHighlightedEvent)
                                    <span asp-validation-for="Event.IsHighlightedEvent" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Event.InStock" /> @Html.DisplayNameFor(model => model.Event.InStock)
                                    <span asp-validation-for="Event.InStock" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group d-flex flex-row-reverse">
                    <input type="submit" value="Save" class="btn btn-danger btn-lg text-nowrap w-50" />
                </div>

            </div>
        </form>
    </div>
</div>